*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul
{
    padding: 20px;
    list-style-type: none;
    display: inline-flex;
}

ul li
{
    padding: 50px;
    text-align: center;
}

.color-area
{
    width: 150px;
    height: 150px;
    border: 3px solid black;
    border-radius: 9999px;
}

.color-picker
{
    border: 3px solid black;
    border-radius: 8px;
    margin: 15px;
    height: 35px;
    width: 50px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.color-picker:hover
{
    width: 55px;
    height: 40px;
}

.add-remove-buttons
{
    display: inline-flex;
    margin-bottom: 55px;
    justify-content: space-evenly;
}

button
{
    border: 3px solid black;
    border-radius: 9999px;
    width: 50px;
    height: 50px;
    background-color: black;
    cursor: pointer;
    margin-right: 20px;
    transition: all 0.5s ease;
}

button:hover
{
    width: 60px;
    height: 60px;
}

ion-icon
{
    color: white;
    font-size: 30px;
    width: 100%;
    height: 100%;
}