.resultArea
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultArea li
{
    padding: 50px;
    width: 500px;
    height: 500px;
    text-align: center;
}

.resultImg
{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    border: solid black 3px;
}