@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@400;600;700&display=swap');

.headerText 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.header
{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.1rem;
}
  
.headImage
{
    background: no-repeat;
    background-size: 100%;
    background-size: cover
}

#dropDisplay
{
    border: 2px solid black;
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 9999px;
    overflow: hidden;
    
    background-position: center;
    background-size: cover;
}